@import url(./reset.css);
@import url(./public.css);
:root{/* 配色 */
    /* 页面背景 */
    --page_bg:#f6f6f6;
    --page_border:#eee;

    /* 导航栏 页面顶栏 */
    --nav_bg:#e60640;
    --nav_active_bg:#bf0f30;
    --nav_text:#fff;
    --nav_active_text:#fff;

    /* 列表 */
    --list_item_hover_bg:#fbfafa;
    --list_item_bg:#fff;

    --list_border:#eee;
    --list_text:#333;
    --list_text_hover:#e60640;
    --list_omit:#999;

    --list_button_text:#fff;
    --list_button_bg:#b9b9b9;
    --list_button_hover_bg:#c9c6c6;
    --list_button_active_bg:#0073c4;
    --list_button_active_hover_bg:#0468ae;

    /* 页面底栏 */
    --footer_bg:#333;
    --footer_text:#777;
    --footer_text_hover:#fff;
    --footer_border:#4a4949;
}
a:active,
a:hover {
    color: #dd4b39;
}
.main {
    padding-bottom: 30px;
}
body {
    background: var(--page_bg);
}
/* 各组件的样式在组件代码底部 */