<footer class="new_footer">
  <div class="foot_one">
    <div class="logoimg">
      <a href="/"><img th:src="@{/emjdjd/img/footer.png}" alt="体育直播"></a>
    </div>
    <div class="foot_nav">
      <ul>
        <li>
          <a href="/">关于我们</a> |
          <a href="/">用户协议</a> |
          <a href="/">隐私协议</a> |
          <a href="/">免责声明</a> |
          <a href="/">联系我们</a> |
          <a href="/">留言反馈</a>
        </li>
      </ul>
      <p>速赛体育是国内最好的体育直播网站，主要提供足球直播、NBA直播，我们努力做最好的足球和NBA直播吧</p>
    </div>
  </div>
  <div class="foot_two">
    <p>速赛体育所有直播信号和视频录像均来自互联网，本站自身不提供任何直播信号和视频内容，如有侵犯您的权益请第一时间通知我们，谢谢！</p>
    <p>Copyright©2020速赛体育</p>
  </div>
  <style>
    .new_footer{
      background: var(--footer_bg);
      color: var(--footer_text);
      padding: 1px;
    }
    .new_footer a{
      color: var(--footer_text);
    }
    .new_footer a:hover{
      color: var(--footer_text_hover);
    }
    .new_footer .foot_one {
      width: 980px;
      height: 50px;
      margin: 0 auto;
      padding: 35px 0;
      display: flex;
      align-items: center;
    }
    .new_footer .foot_two {
      border-top: 1px var(--footer_border) solid;
      text-align: center;
      padding-top: 10px;
    }
    .new_footer .foot_nav {
      margin-left: 35px;
    }
  </style>
</footer>